{{extend 'layout.html'}}

{{block header_script}}
	<script>
		$(function(){
			// Attach event handlers
			$('#back').click(function(){
				window.location.href = "{{=URL('default','page')}}?page_num={{=page_num}}";
			})
		});
	</script>
{{end}}

<a href="#" id="back">< Back</a>
<h2>{{=discussion.title}}</h2>

{{if len(discussion_messages) > 0:}}

<div class="chatHistory">
	{{for dm in discussion_messages:}}
		{{if dm.discussion_message.added_by == current_user_id:}}
			<div class="chatPanel">
				<p class="userMessage">{{=dm.discussion_message.message_content}}</p>
				<p class="timeStamp user">Me | {{=dm.discussion_message.date_added}}</p>
			</div>
			{{pass}}
		{{else:}}
			<div class="chatPanel">
				<p class="chatMessage">{{=dm.discussion_message.message_content}}</p>
				<p class="timeStamp">{{=dm.user_info.name}} | {{=dm.discussion_message.date_added}}</p>
			</div>
		{{pass}}
</div>
{{pass}}

<div class="replyPanel">
		<input class = "replyBox" type="text" value="Enter a reply here" size="70"/>
		<a class = "replyButton" href="#">
			<img src="blue reply check mark.png" alt="Blue Check Mark" height="30" width="30">
		</a>
</div>