{{extend 'layout.html'}}

{{block header_script}}
<script src="{{=URL('static', 'js/autosize.min.js')}}"></script>
<script src="{{=URL('static', 'js/jquery.hashtags.min.js')}}"></script>
<script>
    
    URL.submitNewDiscussion = '{{=URL("default","submit_new_discussion")}}';
    URL.getDiscussionsForTag = '{{=URL("default","get_discussions_for_tag")}}';
    URL.toggleUpvote = '{{=URL("default","toggle_upvote")}}';
    URL.discussion = '{{=URL("default","discussion")}}';

    ENV.pageNum = '{{=page_num}}';

    // Copy general function
    var openGeneralNotification = openNotification;
    // Override openNotification function
    var openNotification = function(type, user, text, link, discussionId, discussionTitle, timestamp, pageNum, replyId, userId){
        // Open notification
        openGeneralNotification(type, user, text, link, discussionId, discussionTitle, timestamp, pageNum, replyId, userId);
        // Add discussion
        if(type === 'discussion'){
            addDiscussion(text, user, timestamp, discussionId, parseInt(pageNum));
        }
    };

    $(function(){
        // Setup hashtags
        $('#descriptionTextarea').hashtags();

        // Attach click handlers
        $('#discussionStartBtn').on('click', function(){
            openOverlay('#addDiscussionPopup');
        });

        $('.tag').click(function(){ //selecting all tags with that class
            var tag = $(this).text(); //selecting particular element text that was clicked
            var container = $('#tagDiscussionsPopup .questionsList'); //tag pop-up box
            container.empty();

            openOverlay(
                '#tagDiscussionsPopup',
                function(params){
                    // Setup title
                    $('#tagDiscussionsPopup h2 > span').text(tag); //sets the headers to the tag names
                    // Retrieve discussions
                    $.ajax({
                        url: URL.getDiscussionsForTag, //retrieves the discussions for the concept.
                        data: {tag:tag}, //passes variable with tag called tag
                        success: function(data){
                            var discussions = JSON.parse(data); //returning a javascript dictionary which turns the data from a string into actual ID's and page numbers.
                            var pn = -1;
                            var temp = false;
                            for (var i = 0; i < discussions.length; i++) {
                                var d = discussions[i];
                                if (d.page_num == pn) {
                                    temp = true;
                                } else {
                                    temp = false;
                                }
                                pn = d.page_num;
                                var li = $('<li></li>').attr({ //creating a new li element in memory
                                    class: 'questionLink', //adding attributes for the new element li
                                    'data-id': d.id
                                }).click(redirectToDiscussion);
                                var question = $('<p></p>').attr({
                                    class: 'question'
                                }).text(d.title); //setting the text of the element to the discussion title
                                var img = $('<img/>').attr({
                                    class: 'arrow',
                                    src: "{{=URL('static','images/arrow.png')}}"
                                });
                                question.append(img); //inserting the image at the end of the p element in HTML within the p element.
                                var timestamp = $('<p></p>').attr({
                                    class: 'timeStamp'
                                }).text(d.added_by + ' | ' + d.date_added); 
                                // This is a new page sequence. Add title.
                                if (temp == false) {
                                    var pageNum = $('<h3></h3>').text(
                                    'Page ' + d.page_num);
                                    li.append(pageNum);
                                }                                
                                // Add elemnts
                                li.append(question).append(timestamp);
                                // Add to DOM  
                                container.append(li); //everything that is in memory appears finally in the container and on the page   
                            }   
                        }
                    })
                });
        });

        $('.close').click(function(){
            closeOverlay();
        });

        $('#overlay').click(function(e){
            if($(e.target).is('#overlay')){
                closeOverlay();
            }
        });

        $('#addDiscussionPopup .submit').click(function(){
            submitDiscussion();
        });

        $('.questionsList li:not(.pageHeader)').click(redirectToDiscussion);

        $('.upvote').click(setupUpvote);

        // Navigate to anchor
        window.location = "#page" + ENV.pageNum;
    });

    var setupUpvote = function(e){
        var button = $(this);
        button.toggleClass('clicked');
        var isActivation = button.hasClass('clicked');
        // Get elements
        var label = $('.label', button);
        var counter = $('.counter', button);
        // Update counter
        var increment = isActivation ? 1 : -1;
        var count = parseInt(counter.text()) + increment; 
        counter.text(count);
        // Update label
        var newLabel = isActivation ? 'Upvoted!' : 'Upvote'
        label.text(newLabel);
        // Submit ajax call
        var discussionId = button.data('id');
        $.ajax({
            url: URL.toggleUpvote,
            data: {discussion: discussionId},
            success: function(data){
            }
        });
        return false;
    };

    function addDiscussion(text, user, timestamp, discussionId, pageNum){
        // Find correct spot to insert new discussion
        var insertBeforeElement = $('.questionsList');
        var pageExists = false;
        var lis = $('[class^=page]');
        for(var i = 0; i < lis.length; i++){
            var d = lis[i];
            var page = parseInt($(d).attr('class').replace("page",""));
            if (page == pageNum){ // Check if the header already exists
                pageExists = true;
            }
            if(page > pageNum){
                // The next element is a page higher than this one. Insert before
                // Create header li if it doesn't exists
                insertBeforeElement = $(d);
                break;
            }
        };

        // Generate elements
        var upvote = '<p class="timeStamp">\
                <a href="" class="upvote " data-id="26">\
                    <span class="label">Upvote</span> (<span class="counter">0</span>)\
                </a>\
                Asked by test2 | 2017-09-28 16:45:40\
            </p>';
        var newQuestion = $('<li></li>').attr({
            class:'page' + pageNum,
            'data-id': discussionId
        })
        .append($('<p></p>').attr({
            class: 'question'
        })
            .text(text)
            .append($('<img></img>').attr({
                class: 'arrow',
                src: "{{=URL('static','images/arrow.png')}}"
            })))
        .append(upvote);

        // Attach click handler
        newQuestion.click(redirectToDiscussion);
        $('.upvote',newQuestion).click(setupUpvote);

        // Add to DOM
        if(lis.length == 0 || lis.length == i){
            if(!pageExists){ // Create title li if it doesn't exist
                var header = $('<li><h2>Page ' + pageNum +  '</h2></li>');
                insertBeforeElement.append(header);
            }
            // The list is empty or this is the last element. Simply append to list.
            insertBeforeElement.append(newQuestion);   
        } else {
            if(!pageExists){
                var header = $('<li><h2>Page ' + pageNum +  '</h2></li>');
                header.insertBefore(insertBeforeElement);
            }
            // This is a middle element. Insert before the next header
            newQuestion.insertBefore(insertBeforeElement);
        }
    };

    function redirectToDiscussion(){
        var id = $(this).data('id');
        window.location.href = "{{=URL('default','discussion')}}?id=" + id;
    }

    function submitDiscussion(){
        // Get data
        var popup = $('#addDiscussionPopup');
        // Submit discussion
        var data = {
            title: $('[name=title]',popup).val(),
            description: $('[name=description]',popup).val(),
            kind: $('[name=kind]:checked',popup).val(),
            page_num: ENV.pageNum
        };
        // Submit
        $.ajax({
            url: URL.submitNewDiscussion,
            method: 'POST',
            data: data,
            success: function(data){
                var id = data;
                window.location.href = "{{=URL('default','discussion')}}?id=" + id;
            }, error: function(data){
                alert(data.responseText);
            }
        });
    }
</script>
{{end}}

<!--
<h2>Hashtags in page {{=page_num}}</h2>

<ul class="linkList divisor">
    {{if len(concepts) > 0:}}
        {{for c in concepts:}}
            <li><a class="tag" href="#" style="background: {{=c.color}};">#{{=c.name}}</a></li>
        {{pass}}
    {{else:}}
        <li>No hashtags in this page yet. Add a discussion to change that!</li>
    {{pass}}
</ul>
-->

<a id="discussionStartBtn" class="button specialButton" href="#" >+</a>


{{if len(discussions) > 0:}}
<ul class="questionsList"> 
    {{last_page = -1}}
    {{for d in discussions:}}

    {{if d.discussion.page_num != last_page:}}
    <li class="page{{=d.discussion.page_num}} pageHeader"><h2>Page {{=d.discussion.page_num}}</h2></li>
    {{pass}}
    {{last_page = d.discussion.page_num}}
	<li class="page{{=d.discussion.page_num}}" data-id="{{=d.discussion.id}}">
		<p class="question"> {{=d.discussion.title}} 
			<img class="arrow" src="{{=URL('static','images/arrow.png')}}" alt="Question Arrow">
		</p>
		<p class="timeStamp">
            <a href="" class="upvote {{='clicked' if d.discussion.id in user_upvotes else ''}}" data-id="{{=d.discussion.id}}">
                <span class="label">Upvote{{='d!' if d.discussion.id in user_upvotes else ''}}</span> (<span class="counter">{{=d.discussion.upvotes}}</span>)
            </a>
            Asked by {{=d.user_info.name}} | {{=d.discussion.date_added}}
        </p>
	</li>
    {{pass}}
</ul>
{{else:}}
<div class="questionsPanel">
	<p>
		There are no questions yet for this page. Why not start one? :)
	</p>
</div>
{{pass}}

{{block overlay}}
    <div id="tagDiscussionsPopup" class="popup">
        <div class="close">
            <img src="{{=URL('static','images/close.png')}}" alt="">
        </div>

        <h2>Discussions for tag <span></span></h2>

        <ul class="questionsList"> 
        </ul>
    </div>

    <div id="addDiscussionPopup" class="popup">
        <div class="close">
            <img src="{{=URL('static','images/close.png')}}" alt="">
        </div>

        <h2>Add a new discussion on page {{=page_num}}</h2>

        <p>
            <h3>Title</h3>
            <input type="text" name="title" id="discussionTitle" placeholder="Suggest a title for your discussion"/>
        </p>

        <!-- <p style="display: none">
            <h3>Kind</h3>
            <ul class="noBullet">
                <li>
                    <input type="radio" name="kind" id="kindDiscussion" value="discussion" selected> 
                    <label for="kindDiscussion">Discussion</label>
                    <p class="hint">Pick this if your discussion is open ended</p>
                </li>
                <li>
                    <input type="radio" name="kind" id="kindFactual" value="factual"> 
                    <label for="kindFactual">Factual</label> 
                    <p class="hint">Pick this if you need a clear cut answer</p>
                </li>
            </ul>
        </p> -->

        <p>
            <h3>Description</h3>
            <!-- <p class="hint">Use #hashtags to make your discussion more visible!</p> -->
            <textarea id="descriptionTextarea" name="description" placeholder="Enter a longer description of your discussion"></textarea>
        </p>

        <a href="#" class="button submit">Submit discussion</a>
    </div>

{{end}}
