{{extend 'layout.html'}}

{{block header_script}}
<script src="{{=URL('static', 'js/autosize.min.js')}}"></script>
<script src="{{=URL('static', 'js/jquery.hashtags.min.js')}}"></script>
<script>
    var URL = {
        submitNewDiscussion: '{{=URL("default","submit_new_discussion")}}',
        getDiscussionsForTag: '{{=URL("default","get_discussions_for_tag")}}'
    },
    ENV = {
        pageNum: '{{=page_num}}'
    }

    $(function(){
        // Setup hashtags
        $('#descriptionTextarea').hashtags();

        // Attach click handlers
        $('#discussionStartBtn').on('click', function(){
            openOverlay('#addDiscussionPopup');
        });

        $('.tag').click(function(){ //selecting all tags with that class
            var tag = $(this).text(); //selecting particular element text that was clicked
            var container = $('#tagDiscussionsPopup .questionsList'); //tag pop-up box
            container.empty();

            openOverlay(
                '#tagDiscussionsPopup',
                function(params){
                    // Setup title
                    $('#tagDiscussionsPopup h2 > span').text(tag); //sets the headers to the tag names
                    // Retrieve discussions
                    $.ajax({
                        url: URL.getDiscussionsForTag, //retrieves the discussions for the concept.
                        data: {tag:tag}, //passes variable with tag called tag
                        success: function(data){
                            var discussions = JSON.parse(data); //returning a javascript dictionary which turns the data from a string into actual ID's and page numbers.
                            var pn = -1;
                            var temp = false;
                            for (var i = 0; i < discussions.length; i++) {
                                var d = discussions[i];
                                if (d.page_num == pn) {
                                    temp = true;
                                } else {
                                    temp = false;
                                }
                                pn = d.page_num;
                                var li = $('<li></li>').attr({ //creating a new li element in memory
                                    class: 'questionLink', //adding attributes for the new element li
                                    'data-id': d.id
                                }).click(redirectToDiscussion);
                                var question = $('<p></p>').attr({
                                    class: 'question'
                                }).text(d.title); //setting the text of the element to the discussion title
                                var img = $('<img/>').attr({
                                    class: 'arrow',
                                    src: "{{=URL('static','images/arrow.png')}}"
                                });
                                question.append(img); //inserting the image at the end of the p element in HTML within the p element.
                                var timestamp = $('<p></p>').attr({
                                    class: 'timeStamp'
                                }).text(d.added_by + ' | ' + d.date_added); 
                                // This is a new page sequence. Add title.
                                if (temp == false) {
                                    var pageNum = $('<h3></h3>').text(
                                    'Page ' + d.page_num);
                                    li.append(pageNum);
                                }                                
                                // Add elemnts
                                li.append(question).append(timestamp);
                                // Add to DOM  
                                container.append(li); //everything that is in memory appears finally in the container and on the page   
                            }   
                        }
                    })
                });
        });

        $('.close').click(function(){
            closeOverlay();
        });

        $('#overlay').click(function(e){
            if($(e.target).is('#overlay')){
                closeOverlay();
            }
        });

        $('#addDiscussionPopup .submit').click(function(){
            submitDiscussion();
        });

        $('.questionLink').click(redirectToDiscussion);
    });

    function redirectToDiscussion(){
        var id = $(this).data('id');
        window.location.href = "{{=URL('default','discussion')}}?id=" + id;
    }

    function openOverlay(id, setupFunction){
        var overlay = $('#overlay');
        overlay.show('slow');
        $(id, overlay).show('slow');
        if(setupFunction){
            setupFunction();
        }
    }

    function closeOverlay(){
        var overlay = $('#overlay');
        overlay.hide('slow');
        $('.popup').hide('slow');
    }

    function submitDiscussion(){
        // Get data
        var popup = $('#addDiscussionPopup');
        // Submit discussion
        var data = {
            title: $('[name=title]',popup).val(),
            description: $('[name=description]',popup).val(),
            kind: $('[name=kind]:checked',popup).val(),
            page_num: ENV.pageNum
        };
        // Submit
        $.ajax({
            url: URL.submitNewDiscussion,
            method: 'POST',
            data: data,
            success: function(data){
                var id = data;
                window.location.href = "{{=URL('default','discussion')}}?id=" + id;
            }, error: function(data){
                alert(data.responseText);
            }
        });
    }
</script>
{{end}}

<h2>Tags in page {{=page_num}}</h2>

<ul class="linkList divisor">
    {{if len(concepts) > 0:}}
        {{for c in concepts:}}
            <li><a class="tag" href="#" style="background: {{=c.color}};">{{=c.name}}</a></li>
        {{pass}}
    {{else:}}
        <li>No concepts exist for this page.</li>
    {{pass}}
</ul>

<h2>
	Discussions for page {{=page_num}}
	<a id="discussionStartBtn" class="button specialButton" href="#" >Start a discussion (+15 points)</a>
</h2>

{{if len(discussions) > 0:}}
<ul class="questionsList"> 
    {{for d in discussions:}}
	<li class="questionLink" data-id="{{=d.discussion.id}}">
		<p class="question"> {{=d.discussion.title}} 
			<img class="arrow" src="{{=URL('static','images/arrow.png')}}" alt="Question Arrow">
		</p>
		<p class="timeStamp">Asked by {{=d.user_info.name}} | {{=d.discussion.date_added}}</p>
	</li>
    {{pass}}
</ul>
{{else:}}
<div class="questionsPanel">
	<p>
		There are no questions yet for this page. Why not start one? :)
	</p>
</div>
{{pass}}

<div id="overlay">
    <div id="tagDiscussionsPopup" class="popup">
        <div class="close">
            <img src="{{=URL('static','images/close.png')}}" alt="">
        </div>

        <h2>Discussions for tag <span></span></h2>

        <ul class="questionsList"> 
        </ul>
    </div>

    <div id="addDiscussionPopup" class="popup">
        <div class="close">
            <img src="{{=URL('static','images/close.png')}}" alt="">
        </div>

        <h2>Add a new discussion</h2>

        <p>
            <h3>Title</h3>
            <input type="text" name="title" placeholder="Suggest a title for your discussion"/>
        </p>

        <p>
            <h3>Kind</h3>
            <input type="radio" name="kind" id="kindDiscussion" value="discussion"> <label for="kindDiscussion">Discussion</label>
            <input type="radio" name="kind" id="kindFactual" value="factual"> <label for="kindFactual">Factual</label> 
        </p>

        <p>
            <h3>Description</h3>
            <textarea id="descriptionTextarea" name="description" placeholder="Enter a longer description of your discussion"></textarea>
        </p>

        <a href="#" class="button submit">Submit discussion</a>
    </div>

</div>
