<!DOCTYPE html>	
<html>
<head>
	<title>Q and A</title>

    <link rel="stylesheet" type="text/css" href="{{=URL('static','css/jquery.hashtags.css')}}">
	<link rel="stylesheet" type="text/css" href="{{=URL('static','css/style.css')}}"/>

    <script src="{{=URL('static','js/jquery-3.2.0.min.js')}}"></script>
    <script src="{{=URL('static','js/web2py.js')}}"></script>
    <script>
        var URL = {
            submitNewDiscussion: '{{=URL("default","submit_new_discussion")}}',
            getDiscussionsForTag: '{{=URL("default","get_discussions_for_tag")}}',
            toggleUpvote: '{{=URL("default","toggle_upvote")}}',
            discussion: '{{=URL("default","discussion")}}',
            getUserStats: '{{=URL("default","get_user_stats")}}',
            logHelp: '{{=URL("default","log_help")}}'
        },        
        ENV = {
            tasksCondition: '{{=tasks_condition}}' == 'True'
        };

        $(function(){
            $(".userStats").click(function(){
                openOverlay('#cpExplanation', function(){
                });
            });

            // Connect to websocket
            if(!$.web2py.web2py_websocket('ws://127.0.0.1:8888/realtime/mygroup', function(e){
                if(!(e.data.startsWith('+') || e.data.startsWith('-'))){
                    var response = JSON.parse(e.data);
                    if (response.data.user !== '{{=user_name}}'){
                        openNotification(
                            response.data.event, 
                            response.data.user, 
                            response.data.body, 
                            URL.discussion + '?id=' + response.data.id, 
                            response.data.id,
                            response.data.title,
                            response.data.timestamp,
                            response.data.page,
                            response.data.replyId,
                            response.data.userId);
                    }
                }
            })){
                alert("html5 websocket not supported by your browser, try Google Chrome");
            }

            var updateStats = function(){
                console.dir('Updating stats...');
                $.ajax({
                    method: 'get',
                    url: URL.getUserStats,
                    success: function(data){
                        data = JSON.parse(data);
                        var p_nont = $('#p_nont');
                        var p_repr = $('#p_repr');
                        var p_oper = $('#p_oper');

                        // Set width
                        var total = data.p_nont + data.p_repr + data.p_oper;
                        p_nont.width((data.p_nont/parseFloat(total)) * 100 + '%');
                        p_repr.width((data.p_repr/parseFloat(total)) * 100 + '%');
                        p_oper.width((data.p_oper/parseFloat(total)) * 100 + '%');

                        // Update in help dialogue
                        $('#p_nont_number').text(data.p_nont);
                        $('#p_repr_number').text(data.p_repr);
                        $('#p_oper_number').text(data.p_oper);
                    }
                });
            };
            updateStats();
            // Start loop to update stats
            window.setInterval(updateStats, 10000);

            // Set click event
            $('#stats').click(function(){
                openOverlay('#statsExplanation', function(){
                    var statsClone = $('#stats').clone();
                    $('#statsClone').html(statsClone);
                    $.ajax({
                        method:'get',
                        url: URL.logHelp,
                        data: {status:'open'}
                    });
                }, function(){
                    $.ajax({
                        method:'get',
                        url: URL.logHelp,
                        data: {status:'close'}
                    });
                })
            });

            $('.close').click(function(){
                closeOverlay();
            });

            $('#overlay').click(function(e){
                if($(e.target).is('#overlay')){
                    closeOverlay();
                }
            });
        });

        var openNotification = function(type, user, text, link, discussionId, discussionTitle, timestamp, pageNum, replyId){
            var panel = $('#notificationPanel');
            var notification = $('<div class="notification"></div>');
            var headerStr = 'New ' + type +' by ' + user;
            if (discussionTitle){
                headerStr += ' on "' + discussionTitle + '"'
            }
            var header = $('<h2></h2>').text(headerStr);
            var body = $("<p></p>").text(text);
            notification.append(header).append(body);
            notification.hide();
            panel.append(notification);

            // Attach event handler
            notification.click(function(){
                window.location = link;
            });

            notification.show('fast');
            window.setTimeout(function(){
                notification.hide('fast');
            }, 7000)
        }

        var openOverlay = function(id, setupFunction, closeFunction){
			var overlay = $('#overlay');
			$(id, overlay).show();
			overlay.fadeIn('slow');
			if(setupFunction){
				setupFunction();
			}
            if(closeFunction){
                $('.close', $(id)).click(function(){
                    closeOverlay();
                    closeFunction();
                })
            }
		}

		function closeOverlay(){
			var overlay = $('#overlay');
			overlay.fadeOut('slow');
			$('.popup').fadeOut('slow');
        }
        
		var updateContributionPoints = function(value){
			$('.userStats span').text(value);
		};

    </script>
    {{block header_script}}
    {{end}}
</head>
<body>
<header>
	<h2>
        <img class="userImage" src="{{=URL('static','images/user.png')}}" alt="">
        {{=user_name}}
    </h2>
    {{if tasks_condition:}}
        <div id="stats">
            <div id="p_nont"></div>
            <div id="p_repr"></div>
            <div id="p_oper"></div>
        </div>
    {{pass}}
    <p class="userStats">
	    Contribution points <span>{{=contribution_points}}</span>
    </p>
</header>

<div id="topContainer">
{{include}}


<div id="notificationPanel">
</div>

</div>

<div id="overlay">

    <div id="cpExplanation" class="popup">
        <div class="close">
            <img src="{{=URL('static','images/close.png')}}" alt="">
        </div>

        <h2>Contribution Points</h2>
        
        <p>The contribution points show how active you are in the discussions. You can increase your points by:</p>
        <ul>
            <li>Posting a reply (3 points)</li>
            {{if tasks_condition:}}
                <li>Answering the questions about a reply (5 points)</li>
            {{pass}}
        </ul>
    </div>

    <div id="statsExplanation" class="popup">
        <div class="close">
            <img src="{{=URL('static','images/close.png')}}" alt="">
        </div>

        <h2>Discussion stats</h2>

        <div id="statsClone"></div>

        <p>
            These statistics show how well you've participated in the discussion. 
            Each reply you make in a discussion can be classified in one of three types, represented by a color.
            Here's what each type means:
        </p>

        <p>
            <strong class="p_nont">Isolated</strong>: 
            these are replies that do not take into consideration what other have said. <br/>

            (You have made <span id="p_nont_number">5</span> isolated replies)
        </p>
        <p>
            <strong class="p_repr">Attentive</strong>: 
            these are replies that acknowledge what others have said, but does not add more information.<br/>
            (You have made <span id="p_repr_number">5</span> isolated replies)
        </p>
        <p>
            <strong class="p_oper">Creative</strong>: 
            these are replies that not only acknowledge what others have said, but also adds new information.
            what others said, but adds new information<br/>
            (You have made <span id="p_oper_number">5</span> isolated replies)
        </p>
        </ul>

        <p>
                <img src="{{=URL('static','images/task.png')}}" alt="" style="float:right"/>
            We categorized them based on feedback from your peers on each individual message. 
            This feedback comes by answering these questions in each message.</p>

        

    </div>

    {{block overlay}}
    {{end}}
</div>

</body>
