<!DOCTYPE html>	
<html>
<head>
	<title>Q and A</title>

    <link rel="stylesheet" type="text/css" href="{{=URL('static','css/jquery.hashtags.css')}}">
	<link rel="stylesheet" type="text/css" href="{{=URL('static','css/style.css')}}"/>

    <script src="{{=URL('static','js/jquery-3.2.0.min.js')}}"></script>
    <script src="{{=URL('static','js/web2py.js')}}"></script>
    <script>
        var URL = {
            submitNewDiscussion: '{{=URL("default","submit_new_discussion")}}',
            getDiscussionsForTag: '{{=URL("default","get_discussions_for_tag")}}',
            toggleUpvote: '{{=URL("default","toggle_upvote")}}',
            discussion: '{{=URL("default","discussion")}}',
            getUserStats: '{{=URL("default","get_user_stats")}}'
        },        
        ENV = {};

        $(function(){
            $(".userStats").click(function(){
                alert('This shows how many contribution points you have! To increase this number, you can:' +
                '\n1) Create new discussions\n2) Evaluate other people\'s responses to a discussions');
            })

            // Connect to websocket
            if(!$.web2py.web2py_websocket('ws://192.168.0.18:8888/realtime/mygroup', function(e){
                var response = JSON.parse(e.data);
                if (response.data.user !== '{{=user_name}}'){
                    openNotification(
                        response.data.event, 
                        response.data.user, 
                        response.data.body, 
                        URL.discussion + '?id=' + response.data.id, 
                        response.data.id,
                        response.data.title,
                        response.data.timestamp,
                        response.data.page);
                }
            })){
                alert("html5 websocket not supported by your browser, try Google Chrome");
            }

            var updateStats = function(){
                console.dir('Updating stats...');
                $.ajax({
                    method: 'get',
                    url: URL.getUserStats,
                    success: function(data){
                        data = JSON.parse(data);
                        var p_nont = $('#p_nont');
                        var p_repr = $('#p_repr');
                        var p_oper = $('#p_oper');

                        // Set width
                        var total = data.p_nont + data.p_repr + data.p_oper;
                        p_nont.width((data.p_nont/parseFloat(total)) * 100 + '%');
                        p_repr.width((data.p_repr/parseFloat(total)) * 100 + '%');
                        p_oper.width((data.p_oper/parseFloat(total)) * 100 + '%');
                    }
                });
            };
            updateStats();
            // Start loop to update stats
            window.setInterval(updateStats, 10000);
        });

        var openNotification = function(type, user, text, link, discussionId, discussionTitle, timestamp, pageNum){
            var panel = $('#notificationPanel');
            var notification = $('<div class="notification"></div>');
            var headerStr = 'New ' + type +' by ' + user;
            if (discussionTitle){
                headerStr += ' on "' + discussionTitle + '"'
            }
            var header = $('<h2></h2>').text(headerStr);
            var body = $("<p></p>").text(text);
            notification.append(header).append(body);
            notification.hide();
            panel.append(notification);

            // Attach event handler
            notification.click(function(){
                window.location = link;
            });

            notification.show('fast');
            window.setTimeout(function(){
                notification.hide('fast');
            }, 7000)
        }
    </script>
    {{block header_script}}
    {{end}}
</head>
<body>
<header>
	<h2>
        <img class="userImage" src="{{=URL('static','images/user.png')}}" alt="">
        {{=user_name}}
    </h2>
    <div id="stats">
        <div id="p_nont"></div>
        <div id="p_repr"></div>
        <div id="p_oper"></div>
    </div>
  <!-- <p class="userStats">
	  Contribution points <span>{{=contribution_points}}</span>
	</p> -->
</header>

<div id="topContainer">
{{include}}


<div id="notificationPanel">
</div>

</div>

</body>
