<!DOCTYPE html>	
<html>
<head>
	<title>Q and A</title>

    <link rel="stylesheet" type="text/css" href="{{=URL('static','css/jquery.hashtags.css')}}">
	<link rel="stylesheet" type="text/css" href="{{=URL('static','css/style.css')}}"/>

    <script src="{{=URL('static','js/jquery-3.2.0.min.js')}}"></script>
    {{block header_script}}
    {{end}}
</head>
<body>
<header>
	<h2>
      <img class="userImage" src="{{=URL('static','images/user.png')}}" alt="">
      {{=user_name}}
  </h2>
  <p class="userStats">
	  Contribution points <span>{{=contribution_points}}</span>
	</p>
</header>

<div id="topContainer">
{{include}}
</div>

</body>
