
@font-face {
  font-family: 'coolvetica';
  src: url('../fonts/coolveticarg.ttf') format('TrueType');
}


body {
	margin: 0;
	font-size: 16px;
	font-family: helvetica;
}

header {
	padding: 0px 15px;
	background: #EEE;
	overflow: auto;
    border-bottom: solid 1px #CCC;
}

input,
textarea {
    font-size: 1em;
    border: solid 1px #CCC;
}

textarea {
    width: 96%;
    height: 150px;
}

header .name {
	line-height: 30px;
}

a {
    color: #007AFF;
    text-decoration: none;
}

.noData {
	text-align: center;
	color: #999;
	padding: 20px;
}

#back {
    font-size: 1.2em;
    display: inline-block;
    padding: 10px;
}

.userStats {
	line-height: 30px;
	position: absolute;
	right: 15px;
	top: 0;
    background: #666;
    padding: 0 0 0 10px;
    color: white;
    border-radius: 10px;
}

.userStats > span {
    background: #007AFF;
    color: white; 
    display: inline-block;
    height: 100%;
    padding: 0 10px 0 10px;
    margin-left: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

header h2 {
    margin-left: 0;
}

header .userImage {
    height: 30px;
    -webkit-transform: translate(0,7px);
    transform: translate(0,7px);
}

h2 {
	margin: 10px 15px 10px 15px;
	font-size: 1.4em;
    letter-spacing: -1px;
}

    h2 > a {
        float: right;
    }

h3 {
    font-size: 1em;
}

.linkList {
	list-style-type: none;
	padding: 0 15px;
	margin-bottom: 30px;
    margin-top: 0;
}

.linkList > li {
	display: inline-block;
}

.button {
    font-family: helvetica;
	display: inline-block;
	padding: 15px;
	background: #EEE;
	text-decoration: none;
	border-radius: 10px;
	color: #333;
	font-size: 16px;
	line-height: 16px;
	font-weight: normal;
    border: solid 1px #CCC;
    box-shadow: inset 0 -3px 5px rgba(0,0,0,0.1);
}

.button.specialButton {
	background-color: #007AFF;
	color: white;
    border: solid 1px #1D62F0;
}

.button.contributeButton {
	position: absolute;
	right: 20px;
	background-color: #56A5EC;
	color: black;
}

.questionsList {
	padding: 0 0 15px 15px;
	list-style-type: none;
}

.questionLink {
    position: relative;
	margin-left: 0px;
	margin-right: 10px;
    padding: 20px 0;
	border-bottom: solid 1px #CCC;
}

.questionLink:last-child {
    border-bottom: none;
}

.question {
	margin-top: 15px;
	margin-bottom: 10px;
}

.arrow {
	position: absolute;
	right: 0px;
    top: 45%;
    -webkit-transform: translate(0,-15px);
    transform: translate(0,-15px);
    width: 30px;
    height: 30px;
}

.arrow img {
    width: 40px;
    height: 40px;
}

.timeStamp {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 12px;
	color: #AAA;
}

.timeStamp.user {
	display:inline-block;
	float:right;
	margin-right: 0px;
	color: #1D90FF;
}

.questionsPanel {
	text-align: center;
	padding: 40px 0;
}

.divisor {
	border-bottom: dashed 3px #CCC;
	padding-bottom: 40px;
}

.chatMessage {
	display: inline-block;
	margin-top: 10px;
	background: #CCC;
	position: relative;
	padding: 25px 18px 25px 18px;
	width: 100%;
	box-sizing: border-box;
	color:black;
	border-radius:10px;
	border-color: black;
}

.chatMessage.user {
	background: #ACD8E6;
}

.chatMessage:after {
	content: "";
	position: absolute;
	bottom: -15px;
	left: 30px;
	border-width: 15px 15px 0;
	border-style: solid;
	border-color: #CCC transparent;
	display: block;
	width: 0;
}

.chatMessage.user:after {
	left: auto;
	right: 30px;
	border-color: #ACD8E6 transparent;
}

#chatHistory {
	padding: 0px 20px;
}

.contributePanel {
	padding-right: 20px;
	float:right;
}

.answerBadge {
	text-align: center;
	position: relative;
}

.centerBadge {
	padding-right: 30px;
}

.noBadge {
	margin-top: 30px;
}

.noContribute {
	margin-top: 25px;
	padding-left: 20px;
	float:left;
}

.replyPanel {
	display: flex;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
	background: #EEE;
	padding: 5px;
	line-height: 30px;
}

#replyBox {
	padding: 8px;
	width: 100%;
}

#replyButton {
	align-self: center;
	padding: 10px 10px 10px 5px;
	text-align: center;
}

.returnArrow {
	position: absolute;
	float:left;
	padding:10px;
}

.backtoAnswer {
	margin-top: 10px;
	margin-left: 15px;
}

.backtoAnswer > div {
	display: inline-block;
}

.back {
	margin-left: 40px;
}

.answerRateInstruction {
	text-align: center;
	padding: 10px;
}

.answerRatingPanel {
	margin-top: 10px;
	margin-left: 15px;
}

.answerRatingPanel > div {
	display: inline-block;
}

.badgeDescription {
	width: 200px;
	padding-left: 20px;
}

.answerRatingBox {
	padding:10px;
}

.emptyBadge{
	float:left;
}
.emptyBadge:hover {
	box-shadow: inset 0px -2px 0px rgba(0,0,0,0.3), inset 0px 0px 50px rgba(0,0,0,0.4);
}

.tag {
    display: inline-block;
    padding: 5px 15px;
    color: black;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 10px;
}

#overlay {
    display: none;
    background: rgba(255,255,255,0.7);
    z-index: 9999;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#overlay .popup {
    position: relative;
    margin: 20px auto;
    width: 400px;
    background: white;
    border: solid 1px #CCC;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    padding: 10px 20px 20px 20px;
    overflow: auto;
}

#overlay .popup .close {
    position: absolute;
    height: 32px;
    width: 32px;
    top: 10px;
    right: 10px;
}

#overlay .popup h2,
#overlay .popup h3 {
    margin: 0;
}

.submit {
    float: right;
}

.description {
	margin-left: 15px;
}