
@font-face {
  font-family: 'coolvetica';
  src: url('../fonts/coolveticarg.ttf') format('TrueType');
}


body {
	margin: 0;
	font-size: 16px;
	font-family: helvetica;
}

#topContainer {
	padding-top: 55px;
}

header {
	box-sizing: border-box;
	position: fixed;
	width: 100%;
	padding: 0px 15px;
	background: linear-gradient(#EEEFF1, #AAACBB);
	overflow: auto;
    border-bottom: solid 1px #CCC;
	z-index: 999;
	color: white;
}

input,
textarea {
    font-size: 1em;
    border: solid 1px #CCC;
}

textarea {
    width: 96%;
    height: 150px;
}

input[type=text] {
	width: 96%;
}

header .name {
	line-height: 40px;
}

a {
    color: #007AFF;
    text-decoration: none;
}

.noData {
	text-align: center;
	color: #999;
	padding: 20px;
}

#fixedHeader {
    font-size: 14px;
    display: flex;
	align-items:center;
    padding: 10px;
	position: fixed;
	z-index: 100;
	background: rgba(255,255,255,0.8);
	width: 100%;
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
	
}
	#fixedHeader img {
		height: 30px;
	}

	#fixedHeader h2 {
		display: inline-block;
		padding: 0;
		margin: 0;
	}

#discussionContainer {
	padding-top: 40px;
}

.userStats {
	line-height: 30px;
	position: absolute;
	right: 15px;
	top: 0;
    background: #666;
    padding: 0 0 0 10px;
    color: white;
    border-radius: 10px;
}

.userStats > span {
    background: #007AFF;
    color: white; 
    display: inline-block;
    height: 100%;
    padding: 0 10px 0 10px;
    margin-left: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

header h2 {
	display: inline-block;
	margin-left: 0;
	text-shadow: 0 1px 0 #666;
}

#stats {
	display: inline-block;
	width: 400px;
	height: 30px;
	margin-top: 10px; 
	margin-left: 20px;
	border-radius: 30px;
	padding: 0;
	overflow:hidden;
	box-shadow: inset 0 0 40px rgba(0,0,0,0.6); 
	border: solid 1px rgba(255,255,255,0.3);
	text-align: center;
	font-size: 10pt;
}

	#stats:after {
		content: 'None of your messages have been rated yet';
		line-height: 30px;
	}

	#stats > div {
		color: white;
		text-align: center;
		height: 100%;
		margin: 0;
		border: 0;
		padding: 0;
		float: left;
		width: 0;
		transition: width 0.5s;
	}
	
	#p_nont {
		width: 10%;
		background: linear-gradient(#FF2D66, #FF5441);
	}

	#p_repr {
		width: 40%;
		background: linear-gradient(#F6F441, #FDFE7C);
	}

	#p_oper {
		width: 50%;
		background: linear-gradient(#02DB1A, #6AE772);
	}

header .userImage {
    height: 30px;
    -webkit-transform: translate(0,7px);
    transform: translate(0,7px);
}

h2 {
	margin: 10px 15px 10px 15px;
	font-size: 1.4em;
    letter-spacing: -1px;
}

    h2 > a {
        float: right;
    }

h3 {
    font-size: 1em;
}

.linkList {
	list-style-type: none;
	padding: 0 15px;
	margin-bottom: 30px;
    margin-top: 0;
}

.linkList > li {
	display: inline-block;
}

.button {
    font-family: helvetica;
	display: inline-block;
	padding: 15px;
	background: #EEE;
	text-decoration: none;
	border-radius: 10px;
	color: #333;
	font-size: 16px;
	line-height: 16px;
	font-weight: normal;
    border: solid 1px #CCC;
    box-shadow: inset 0 0px 1px rgba(0,0,0,0.1);
}

.button.specialButton {
	background-color: #007AFF;
	color: white;
    border: solid 1px #1D62F0;
}

.button.contributeButton {
	position: absolute;
	right: 20px;
	background-color: #56A5EC;
	color: black;
}

.questionsList {
	padding: 0 0 15px 15px;
	list-style-type: none;
	margin-bottom: 80px;
}

.questionsList h2 {
	margin: 30px 0 0 0;
}

.questionsList li {
    position: relative;
	margin-left: 0px;
	margin-right: 10px;
    padding-bottom: 10px 0;
}

.questionsList li:last-child {
    border-bottom: none;
}

.question {
	margin-top: 15px;
	margin-bottom: 10px;
}

.arrow {
	position: absolute;
	right: 0px;
    top: 45%;
    -webkit-transform: translate(0,-15px);
    transform: translate(0,-15px);
    width: 30px;
    height: 30px;
}

.arrow img {
    width: 40px;
    height: 40px;
}

.timeStamp {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 12px;
	color: #AAA;
}

.timeStamp a {
	padding-left: 13px;
	margin-right: 10px;
	background: url(../images/upvote.png) no-repeat -7px center;
}

.timeStamp a.clicked {
	color: green;
	background-image: url(../images/check.png);
}

.timeStamp.user {
	display:inline-block;
	float:right;
	margin-right: 0px;
	color: #1D90FF;
}

.questionsPanel {
	text-align: center;
	padding: 40px 0;
}

.divisor {
	border-bottom: dashed 3px #CCC;
	padding-bottom: 40px;
}

.chatMessage {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	background: #CCC;
	position: relative;
	padding: 0px;
	width: 100%;
	box-sizing: border-box;
	color:black;
	border-radius:10px;
	border-color: black;
}

.notClassified .chatMessage {
	padding-right: 170px;
	min-height: 120px;
}


.notask .chatMessage,
.chatMessage.classified {
	padding-right: 0;
	min-height: 1px;
}

.user .chatMessage {
	background: #ACD8E6;
}

.chatMessage p {
	padding: 10px;
	margin: 0;
	width: auto;
}

.chatMessage .taskArea {
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	padding: 0px;
	text-align: center;
	color: white;
	font-size: 0.8em;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 150px;
	background: rgba(163, 163, 163, 0.9)  
}

.taskArea > div {
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding-bottom: 10px;
	background: linear-gradient(transparent, rgba(156,220,254, 0.3)); 
}

	.chatMessage .taskArea .choices a {
		cursor: pointer;
		display: inline-block;
		background: rgba(0,0,0,0.3);
		text-transform: lowercase;
		color: white;
		text-decoration: none;
		font-weight: bolder;
		padding: 5px 15px;
		margin: 0 10px 5px 10px;
		border-radius: 30px;
	}

.chatMessage:after {
	content: "";
	position: absolute;
	bottom: -14px;
	left: 30px;
	border-width: 15px 15px 0;
	border-style: solid;
	border-color: #CCC transparent;
	display: block;
	width: 0;
}

.user .chatMessage:after {
	left: auto;
	right: 30px;
	border-color: #ACD8E6 transparent;
}

#chatHistory {
	padding: 0px 20px;
	margin-bottom: 80px;
}

.contributePanel {
	padding-right: 20px;
	float:right;
}

.answerBadge {
	text-align: center;
	position: relative;
}

.centerBadge {
	padding-right: 30px;
}

.noBadge {
	margin-top: 30px;
}

.noContribute {
	margin-top: 25px;
	padding-left: 20px;
	float:left;
}

.replyPanel {
	display: flex;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
	background: #EEE;
	padding: 5px;
	line-height: 30px;
}

#replyBox {
	align-self: center;
	padding: 8px;
	width: 100%;
}

#replyButton {
	margin-right: 5px;
	align-self: center;
	padding: 10px 10px 10px 5px;
	text-align: center;
}

.returnArrow {
	position: absolute;
	float:left;
	padding:10px;
}

.backtoAnswer {
	margin-top: 10px;
	margin-left: 15px;
}

.backtoAnswer > div {
	display: inline-block;
}

.back {
	margin-left: 40px;
}

.answerRateInstruction {
	text-align: center;
	padding: 10px;
}

.answerRatingPanel {
	margin-top: 10px;
	margin-left: 15px;
}

.answerRatingPanel > div {
	display: inline-block;
}

.badgeDescription {
	width: 200px;
	padding-left: 20px;
}

.answerRatingBox {
	padding:10px;
}

.emptyBadge{
	float:left;
}
.emptyBadge:hover {
	box-shadow: inset 0px -2px 0px rgba(0,0,0,0.3), inset 0px 0px 50px rgba(0,0,0,0.4);
}

.tag {
    display: inline-block;
    padding: 5px 15px;
    color: black;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 10px;
}

#overlay {
    display: none;
    background: rgba(255,255,255,0.7);
    z-index: 9999;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#overlay .popup {
	display: none;
    position: relative;
    margin: 20px auto;
    width: 400px;
	max-height: 90%;
    background: white;
    border: solid 1px #CCC;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    padding: 10px 20px 20px 20px;
    overflow: auto;
}

#overlay .popup .close {
    position: absolute;
    height: 32px;
    width: 32px;
    top: 10px;
    right: 10px;
}

#overlay .popup h2,
#overlay .popup h3 {
    margin: 0;
}

.submit {
    float: right;
}

.description {
	margin-left: 15px;
}

#taskPopup ul {
	list-style: none;
	padding: 0;
}

	#taskPopup ul > li {
		margin: 0 0 20px 0;
	}

.contribute {
	float: right;
	margin: 0 0 20px 10px;
}

	.contribute h4 {
		font-size: 10px;
		color: #666;
		margin: 0;
	}

	.contribute > div {
		display: inline-block;
	}

.contribute ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

	.contribute ul > li {
		display: inline-block;
		height: 32px;
		width: 32px;
		position: relative;
	}

.contribute .colorLayer {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.4;
	border-radius: 17px;
}

.contribute:empty {
	border: none;
	padding: 0;
	margin: 0;
}

.hint {
	color: #888;
	margin: 0;
}

ul.noBullet {
	list-style: none;
	padding: 0;
	margin: 0;
}

	ul.noBullet > li {
		margin: 0 0 20px 0;
	}

#discussionStartBtn {
	display: block;
	position: fixed;
	bottom: 20px;
	right: 20px;
	height: 30px;
	width: 30px;
	line-height: 30px;
	border-radius: 30px;
	text-align: center;
	font-size: 3em;
	box-shadow: 2px 2px 6px #999;
	z-index: 99999;
}

#notificationPanel {
	position: fixed;
	top: 70px;
	right: 15px;
	width: 195px;
	z-index: 9999;
}

.notification {
	background: rgba(120, 192, 240, 0.9);
	border-bottom: solid 1px rgba(255,255,255,0.3);
	border-radius: 10px;
	box-shadow: 2px 2px 6px rgba(150, 150, 150, 0.9);
	font-size: 12px;
	padding: 10px;
	margin-bottom: 10px;
}


	.notification h2 {
		font-size: 12px;
		margin: 0;
	}

	.notification p {
		margin: 0;
	}

